<html>
<body>
<a href="/products/add">Create new product</a>
<h1> {{ titre }} </h1>
<table border="1">
<tr>
<th>Name</th>
<th></th>
<th></th>
</tr>
{% for p in produits %}
<tr>
<td> {{ p.name }} </td>
<td> <a href="/products/view/{{p.id}}">Details</a> </td>
<td> <a href="/products/delete/{{p.id}}">Delete</a> </td>
</tr>
{% endfor %}
</table>
</body>
</html>