<html>
<body>
<form method="post" action="/contacts/create">
<label for="fullname"> FullName: </label>
<input type="text" name="FullName" id="fullname"/>
<label for="phone"> Phone: </label>
<input type="number" name="Phone" id="phone"/>
<button type="submit" >Creer</button>
</form>
</body>
</html>